################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/TodosAPI/.vs/TodosAPI
/API/TodosAPI/TodosAPI/obj
